In [1]:
pip install bs4

Requirement already satisfied: bs4 in f:\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in f:\anaconda\lib\site-packages (from bs4) (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in f:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (1.9.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install tabulate

Requirement already satisfied: tabulate in f:\anaconda\lib\site-packages (0.8.7)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install matplotlib

Requirement already satisfied: matplotlib in f:\anaconda\lib\site-packages (3.1.1)
Requirement already satisfied: cycler>=0.10 in f:\anaconda\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in f:\anaconda\lib\site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in f:\anaconda\lib\site-packages (from matplotlib) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in f:\anaconda\lib\site-packages (from matplotlib) (2.8.0)
Requirement already satisfied: numpy>=1.11 in f:\anaconda\lib\site-packages (from matplotlib) (1.16.5)
Requirement already satisfied: six in f:\anaconda\lib\site-packages (from cycler>=0.10->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in f:\anaconda\lib\site-packages (from kiwisolver>=1.0.1->matplotlib) (41.4.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install numpy

Requirement already satisfied: numpy in f:\anaconda\lib\site-packages (1.16.5)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import requests
from bs4 import BeautifulSoup

In [6]:
from tabulate import tabulate
import os

In [7]:
import numpy as np
import matplotlib.pyplot as plt

In [8]:
extract_contents = lambda row: [x.text.replace('\n','')for x in row]
url = 'https://www.mohfw.gov.in/'

In [9]:
Short_Headers = ['SNo', 'State','Total Confirmed cases','Cured','Death']

In [10]:
response = requests.get(url).content
soup = BeautifulSoup(response,'html.parser')

In [11]:
header = extract_contents(soup.tr.find_all('th'))

In [12]:
stats = []
all_rows = soup.find_all('tr')

In [13]:
for row in all_rows:
    stat = extract_contents(row.find_all('td'))
    if stat:
        if len(stat) == 5:
            stat =  [*stat]
            stats.append(stat)
        elif len(stat) == 6:
            stats.append(stat)

In [14]:
type(stats)

list

In [15]:
stats

[['1', 'Andaman and Nicobar Islands', '12', '11', '0'],
 ['2', 'Andhra Pradesh', '603', '42', '15'],
 ['3', 'Arunachal Pradesh', '1', '0', '0'],
 ['4', 'Assam', '35', '9', '1'],
 ['5', 'Bihar', '85', '37', '2'],
 ['6', 'Chandigarh', '21', '9', '0'],
 ['7', 'Chhattisgarh', '36', '24', '0'],
 ['8', 'Delhi', '1707', '72', '42'],
 ['9', 'Goa', '7', '6', '0'],
 ['10', 'Gujarat', '1272', '88', '48'],
 ['11', 'Haryana', '225', '43', '3'],
 ['12', 'Himachal Pradesh', '38', '16', '1'],
 ['13', 'Jammu and Kashmir', '328', '42', '5'],
 ['14', 'Jharkhand', '33', '0', '2'],
 ['15', 'Karnataka', '371', '92', '13'],
 ['16', 'Kerala', '396', '255', '3'],
 ['17', 'Ladakh', '18', '14', '0'],
 ['18', 'Madhya Pradesh', '1355', '69', '69'],
 ['19', 'Maharashtra', '3323', '331', '201'],
 ['20', 'Manipur', '2', '1', '0'],
 ['21', 'Meghalaya', '11', '0', '1'],
 ['22', 'Mizoram', '1', '0', '0'],
 ['23', 'Nagaland#', '0', '0', '0'],
 ['24', 'Odisha', '60', '21', '1'],
 ['25', 'Puducherry', '7', '3', '0'],
 ['26', 'Punjab', '202', '27', '13'],
 ['27', 'Rajasthan', '1229', '183', '11'],
 ['28', 'Tamil Nadu', '1323', '283', '15'],
 ['29', 'Telengana', '791', '186', '18'],
 ['30', 'Tripura', '2', '1', '0'],
 ['31', 'Uttarakhand', '42', '9', '0'],
 ['32', 'Uttar Pradesh', '969', '86', '14'],
 ['32', 'West Bengal', '287', '55', '10']]

In [16]:
stats[-1][1] = "Total Cases"
stats.remove(stats[-1])

In [17]:
object = [row[1] for row in stats]
y_ps = np.arange(len(object))
performance = [row[2] + str(int(float(row[3]))) for row in stats]

In [18]:
table = tabulate(stats, headers = Short_Headers)
print(table)

  SNo  State                          Total Confirmed cases    Cured    Death
-----  ---------------------------  -----------------------  -------  -------
    1  Andaman and Nicobar Islands                       12       11        0
    2  Andhra Pradesh                                   603       42       15
    3  Arunachal Pradesh                                  1        0        0
    4  Assam                                             35        9        1
    5  Bihar                                             85       37        2
    6  Chandigarh                                        21        9        0
    7  Chhattisgarh                                      36       24        0
    8  Delhi                                           1707       72       42
    9  Goa                                                7        6        0
   10  Gujarat                                         1272       88       48
   11  Haryana                                          225       43        3
   12  Himachal Pradesh                                  38       16        1
   13  Jammu and Kashmir                                328       42        5
   14  Jharkhand                                         33        0        2
   15  Karnataka                                        371       92       13
   16  Kerala                                           396      255        3
   17  Ladakh                                            18       14        0
   18  Madhya Pradesh                                  1355       69       69
   19  Maharashtra                                     3323      331      201
   20  Manipur                                            2        1        0
   21  Meghalaya                                         11        0        1
   22  Mizoram                                            1        0        0
   23  Nagaland#                                          0        0        0
   24  Odisha                                            60       21        1
   25  Puducherry                                         7        3        0
   26  Punjab                                           202       27       13
   27  Rajasthan                                       1229      183       11
   28  Tamil Nadu                                      1323      283       15
   29  Telengana                                        791      186       18
   30  Tripura                                            2        1        0
   31  Uttarakhand                                       42        9        0
   32  Uttar Pradesh                                    969       86       14

In [19]:
type(table)

str

# Exploratory Data Analysis

In [20]:
import pandas as pd

In [21]:
covid_data = pd.DataFrame(stats)

In [22]:
covid_data.head(4)

   0                            1    2   3   4
0  1  Andaman and Nicobar Islands   12  11   0
1  2               Andhra Pradesh  603  42  15
2  3            Arunachal Pradesh    1   0   0
3  4                        Assam   35   9   1

## Naming the Columns of Dataframe

In [23]:
Live_covid_data = covid_data.rename(columns = {0:'Sno',1:'States',2:'Total Confirmed Cases(Indian + Foreign)',3:'Total Cured/Discharged Cases',4:'Total Deaths'})

In [24]:
Live_covid_data.head(2)

,Sno,States,Total Confirmed Cases(Indian + Foreign),Total Cured/Discharged Cases,Total Deaths
0,1,Andaman and Nicobar Islands,12,11,0
1,2,Andhra Pradesh,603,42,15

In [25]:
Live_covid_data.set_index('Sno')

,States,Total Confirmed Cases(Indian + Foreign),Total Cured/Discharged Cases,Total Deaths
Sno,,,,
1,Andaman and Nicobar Islands,12,11,0
2,Andhra Pradesh,603,42,15
3,Arunachal Pradesh,1,0,0
4,Assam,35,9,1
5,Bihar,85,37,2
6,Chandigarh,21,9,0
7,Chhattisgarh,36,24,0
8,Delhi,1707,72,42
9,Goa,7,6,0
10,Gujarat,1272,88,48
11,Haryana,225,43,3
12,Himachal Pradesh,38,16,1
13,Jammu and Kashmir,328,42,5
14,Jharkhand,33,0,2
15,Karnataka,371,92,13
16,Kerala,396,255,3
17,Ladakh,18,14,0
18,Madhya Pradesh,1355,69,69
19,Maharashtra,3323,331,201
20,Manipur,2,1,0
21,Meghalaya,11,0,1
22,Mizoram,1,0,0
23,Nagaland#,0,0,0
24,Odisha,60,21,1
25,Puducherry,7,3,0
26,Punjab,202,27,13
27,Rajasthan,1229,183,11
28,Tamil Nadu,1323,283,15
29,Telengana,791,186,18
30,Tripura,2,1,0
31,Uttarakhand,42,9,0
32,Uttar Pradesh,969,86,14

In [26]:
type(Live_covid_data)

pandas.core.frame.DataFrame

In [27]:
Live_covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
Sno                                        32 non-null object
States                                     32 non-null object
Total Confirmed Cases(Indian + Foreign)    32 non-null object
Total Cured/Discharged Cases               32 non-null object
Total Deaths                               32 non-null object
dtypes: object(5)
memory usage: 1.4+ KB

## Converting datatype of some specific columns

In [28]:
# Using Dictionary to convert Datatype
convert_datatype = {'Sno':int, 'Total Confirmed Cases(Indian + Foreign)': int,'Total Cured/Discharged Cases': int, 'Total Deaths': int}
Live_covid_data = Live_covid_data.astype(convert_datatype)
Live_covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
Sno                                        32 non-null int32
States                                     32 non-null object
Total Confirmed Cases(Indian + Foreign)    32 non-null int32
Total Cured/Discharged Cases               32 non-null int32
Total Deaths                               32 non-null int32
dtypes: int32(4), object(1)
memory usage: 896.0+ bytes

In [29]:
Live_covid_data.head()

,Sno,States,Total Confirmed Cases(Indian + Foreign),Total Cured/Discharged Cases,Total Deaths
0,1,Andaman and Nicobar Islands,12,11,0
1,2,Andhra Pradesh,603,42,15
2,3,Arunachal Pradesh,1,0,0
3,4,Assam,35,9,1
4,5,Bihar,85,37,2

In [30]:
# Checking Null values
Live_covid_data.isnull().sum()

Sno                                        0
States                                     0
Total Confirmed Cases(Indian + Foreign)    0
Total Cured/Discharged Cases               0
Total Deaths                               0
dtype: int64

### Zero Null values are present in the data.

# Saving dataframe data into csv format

In [31]:
Live_covid_data.to_csv("Live_covid_data.csv")

# Data Visualization

In [32]:
# installing visualization package
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
Live_covid_data['Total Confirmed Cases(Indian + Foreign)'].sum()

14091